@import './normalize.css';

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #007aff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;

    .swiper-wrapper {
        transition-delay: .3s;

        .swiper-slide {
            background: #fff;
            display: flex;
            align-items: center;

            img {
                max-width: 100%;
            }

            justify-content: center;

            h2 {
                transform: translateX(-200px);
                opacity: 0;
                transition: all .4s;
            }

            &.ani-slide {
                h2 {
                    transform: translateX(0);
                    opacity: 1;
                }

            }
        }
    }




}

.page {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;



    h1 {
        font-size: 42px;
        text-align: center;
        color: #000;
    }

    h2 {
        font-size: 24px;
        margin: 0 0 20px;
        font-weight: normal;
        text-align: center;
        color: #f38815;
    }

    h3 {
        font-size: 20px;
        font-weight: normal;
        text-align: center;
        color: #999;
    }

    h4 {
        font-size: 18px;
        font-weight: normal;
        text-align: center;
        color: #ccc;
    }

    p {
        font-size: 12px;
        text-indent: 2em;
        line-height: 1.5;
        color: #999;
    }

    .list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .item {
            width: 50%;
            flex-grow: 0;
            text-align: center;
        }
    }
}